* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: #333;
  padding: 20px;
  text-align: center;
  z-index: 1000; 
}
nav {
  position: absolute;
  top: 20px;
  right: 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  font-weight: bold;
  text-decoration: none;
  color: #a3add7
}

nav ul li a:hover {
  color: #6a5acd;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff; 
  border-radius: 10px;
}

footer {
  background-color: #c1c7e0; 
  color: #fff;
  text-align: center;
  padding: 10px;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.home-text {
  flex: 1;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.home-text p {
  margin-top: 60px;
}

.home-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image img {
  max-width: 100%;
}

.home-text h2:first-of-type {
  font-size: 110px;
  color: #b883b4;
}

.home-text h2 {
  font-size: 70px; 
  color: #deafda;
}

.home-text h2:hover {
  color: #a3add7;
  transition: color 0.3s ease;
}

#about {
  background-color: #e6c0e3;
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto;
  width: 60%;
  color: white;
  margin-bottom: 40px;
}

#about h2 {
  font-size: 36px; 
  margin-bottom: 20px;
}

#about p {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.about p:hover {
  color: #c0bbeb;
  transition: color 0.3s ease;
}

#projects {
  background-color: #c1c7e0;
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto;
  width: 60%;
  color: white;
  margin-bottom: 40px;
}

#projects p {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

#projects h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

#hobbies {
  background-color: #e6c0e3;
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto;
  width: 60%;
  color: white;
  margin-bottom: 40px;
}

#hobbies h2 {
  font-size: 36px; 
  margin-bottom: 20px;
}

#hobbies p {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.hobbies p:hover {
  color: #c0bbeb;
  transition: color 0.3s ease;
}

.timeline {
  padding: 20px;
  background-color: #c1c7e0;
  border-radius: 20px;
  margin: 0 auto;
  width: 60%;
  color: white;
  margin-bottom: 40px;
}
.timeline h2 {
  font-size: 36px; 
  margin-bottom: 20px;
}

.timeline-item {
  display: flex;
  margin-bottom: 40px;
}

.timeline-content {
  flex: 1;
  padding: 20px;
  border-left: 4px solid rgb(110, 85, 167);
}

.timeline-title {
  font-size: 26px;
  color: rgb(110, 85, 167);
}

.timeline-description {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
}

.timeline p:hover {
  color: rgb(117, 95, 168);
  transition: color 0.3s ease;
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6c0e3;
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto;
  width: 62%;
  color: white;
  margin-bottom: 40px;
}

.contact-links a {
  margin: 0 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  flex-wrap: wrap; 
  justify-content: center;
}

.contact-links img {
  width: 40px;
  height: auto;
  margin-right: 5px;
}

.contact-links span {
  margin-top: 5px;
}

.contact-links a:nth-child(1) img {
  width: 35px;
  height: auto;
}

a[href="https://github.com/honeybunnyo/instagramclone"]:hover {
  color:  rgb(244, 203, 230) !important; 
}

a[href="assets/images/keycap.png"]:hover {
  color: white !important;
}

.contact-links a img.bigger-image {
  width: 50px; 
}
