/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #ff99cc; /* Pink background color */
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffe6f2; /* Light pink background color for sections */
  border-radius: 10px; /* Rounded corners for sections */
}

footer {
  background-color: #ff99cc; /* Pink background color */
  color: #fff;
  text-align: center;
  padding: 10px;
}
